<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="container">
    <h1>MiniTwitter</h1>

    <input type="email" [(ngModel)]="usuario.email" #em="ngModel" required [email]="true" />

    <div [hidden]="em.valid || em.pristine" class="alert alert-danger">
      <p *ngIf="em.errors?.required">El campo email es requerido.</p>
      <p *ngIf="em.errors?.email">El campo email debe estar bien formado.</p>
    </div>

    <input type="password" [(ngModel)]="usuario.password" #pwd="ngModel" pattern="[0-9]{4,6}" required />

    <div [hidden]="pwd.valid || pwd.pristine" class="alert alert-danger">
        <p *ngIf="pwd.errors?.required"> El campo contraseña es requerido.</p>
        <p *ngIf="pwd.errors?.pattern">La contraeña debe ser un número entre 4 y 6 dígitos</p>
  </div>
    <input type="button" (click)="doLogin()" value="Login" />


  </div>