<div fxLayout="column">
    <table mat-table [dataSource]="listadoStories" class="mat-elevation-z8" fxFlex="100%">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- titulo Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.data.nombre}} </td>
        </ng-container>

      

    

                
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <a (click)="deleteCategoria(element.id)">Eliminar</a> |
                <a (click)="dialogEditCategoria(element.id)">Editar</a>
            </td>

            
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

<button mat-fab color="warn" class="mat-fab-bottom-right" (click)="dialogNuevaCategoria()" style="z-index: 9;">
    <mat-icon class="mat-24">add</mat-icon>
</button>