<div fxLayout="column">
<table mat-table [dataSource]="listadoStories" class="mat-elevation-z8" fxFlex="100%">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Titulo Column -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let element"> {{element.data.titulo}} </td>
  </ng-container>

  <!-- Estado Column -->
  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.data.estado}} </td>
  </ng-container>

   <!-- Symbol Column -->
   <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button aria-label="Editar usuario" (click)="dialogEditStorie(element)">
            <mat-icon>edit</mat-icon>
        </button>  
    </td>
  </ng-container>

  


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


</div>

<button mat-fab color="warn" class="mat-fab-bottom-right" (click)="dialogNewStorie()" style="z-index: 9;">
  <mat-icon class="mat-24">add</mat-icon>
  </button>

