<div fxFlexLayout="column">
    <h1 mat-dialog-title>Nueva categoria</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput [(ngModel)]="categoriaDto.nombre" placeholder="Nombre">
      </mat-form-field>
      
    
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="cerrar()">Cancelar</button>
      <button mat-button (click)="guardarCategoria()" cdkFocusInitial>Guardar</button>
    </div>
    </div>