<div fxLayout="column">
    <table mat-table [dataSource]="listadoProductos" class="mat-elevation-z8" fxFlex="100%">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- titulo Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.data.nombre}} </td>
        </ng-container>

        <!-- descripcion Column -->
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.data.descripcion}} </td>
        </ng-container>


         <!-- Weight Column -->
       <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Añadir a la despensa </th>
        <td mat-cell *matCellDef="let element"><button (click)="dialogNuevoStock(element.data.nombre,element.data.categoria,element.id)"><mat-icon class="mat-24">add</mat-icon></button></td>
        </ng-container>

     

            
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

<button mat-fab color="warn" class="mat-fab-bottom-right" (click)="dialogNuevoProducto()" style="z-index: 9;">
    <mat-icon class="mat-24">add</mat-icon>
</button>