<div fxFlexLayout="column" *ngIf='data.nuevo'>
    <h1 mat-dialog-title>Añadir a la despensa</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <input type="number" matInput [(ngModel)]="stockDto.en_despensa" placeholder="¿Cuantos tienes?">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput [(ngModel)]="stockDto.minimos" placeholder="¿Minimo para aviso?">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="cerrar()">Cancelar</button>
      <button mat-button (click)="guardarStock()" cdkFocusInitial>Guardar</button>
    </div>
    </div>

  
    <div fxFlexLayout="column" *ngIf='!data.nuevo'>
        <h1 mat-dialog-title>Editar stock</h1>
        <div mat-dialog-content>
          <mat-form-field>
            <input type="number" matInput [(ngModel)]="stockDto.en_despensa" placeholder="¿Cuantos tienes?">
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput [(ngModel)]="stockDto.minimos" placeholder="¿Minimo para aviso?">
          </mat-form-field>
        </div>
        <div mat-dialog-actions>
          <button mat-button (click)="cerrar()">Cancelar</button>
          <button mat-button (click)="guardarStock()" cdkFocusInitial>Guardar</button>
        </div>
        </div>
