<div fxFlexLayout="column">
<h1 mat-dialog-title>Nueva storie</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="storiesDto.titulo" placeholder="Título">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="storiesDto.estado" placeholder="ASIGNADA">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="storiesDto.descripcion" placeholder="Descripción">
  </mat-form-field>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="cerrar()">Cancelar</button>
  <button mat-button (click)="guardarStorie()" cdkFocusInitial>Guardar</button>
</div>
</div>