<div fxLayout="column">
    <table mat-table [dataSource]="listadoStock" class="mat-elevation-z8" fxFlex="100%">
    
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="producto">
        <th mat-header-cell *matHeaderCellDef> Producto </th>
        <td mat-cell *matCellDef="let element"> {{element.data.producto}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.data.categoria}} </td>
      </ng-container>

       <!-- Weight Column -->
       <ng-container matColumnDef="en_despensa">
        <th mat-header-cell *matHeaderCellDef> En despensa </th>
        <td mat-cell *matCellDef="let element"><button style="color:#006F13" (click)="modificarStock(element.data.en_despensa+1,element.id)">+</button>&nbsp;&nbsp;{{element.data.en_despensa}}&nbsp;&nbsp;<button style="color:#FE1B00" (click)="modificarStock(element.data.en_despensa-1,element.id)">-</button></td>
    </ng-container>

    <ng-container matColumnDef="minimo">
        <th mat-header-cell *matHeaderCellDef> Mínimo </th>
        <td mat-cell *matCellDef="let element">{{element.data.minimos}}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element"><button (click)="dialogEditStock(element.data.producto,element.data.categoria,element.id,element.data.en_despensa,element.data.minimos)"><mat-icon class="mat-24">edit</mat-icon></button>
            <button (click)="confirmar(element.data.producto,element.id)"><mat-icon class="mat-24">delete</mat-icon></button>
          </td>
      </ng-container>

    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <div style="margin-top: 5px" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px" class="paginator">
      <mat-paginator [pageSizeOptions]="[5,10,20]" class="cajaPaginador"></mat-paginator>
    </div>

    </div>
