<div fxFlexLayout="column">
    <h1 mat-dialog-title>Nuevo prdoucto</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput [(ngModel)]="productoDto.titulo" placeholder="Nombre">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="productoDto.descripcion" placeholder="Descripción">
      </mat-form-field>
      

    
    
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="cerrar()">Cancelar</button>
      <button mat-button (click)="guardarProducto()" cdkFocusInitial>Guardar</button>
    </div>
    </div>